<div class="newsletter">
  <div class="stripes"></div>
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="http://robdodson.us7.list-manage2.com/subscribe/post?u=5727aa0eb1ccbf4ae68284189&amp;id=6719a28b56" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <h3>Subscribe to get my best content.</h3>
      <div class="description">
        <p>
          One letter a week with the latest posts and screencasts from my site. Topics include Node.js, HTML5, Web Components, Angular.js and more.
        </p>
      </div>
      
      <div id="mc-email-field" class="mc-field-group">
        <label for="mce-EMAIL">Email Address
        </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        <small class="helper">No spam, ever. Unsubscribe at any time.</small>
      </div>

      <input type="hidden" name="group[4133][1]" id="mce-group[4133]-4133-0" value="true">
      
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>

    </form>
  </div>
  <!--End mc_embed_signup-->
</div>