<div class="newsletter">
  <form action="http://robdodson.us7.list-manage2.com/subscribe/post?u=5727aa0eb1ccbf4ae68284189&amp;id=6719a28b56" method="post" target="_blank" novalidate>
    <p class="newsletter-heading newsletter-primary">Get your learn on.</p>
    <p class="newsletter-heading newsletter-sub">
      Weekly emails cover Web Components, and the future of
      Front-end Development.
    </p>
    <input class="newsletter-email" type="email" value="" name="EMAIL" placeholder="your@email.com">
    <input type="hidden" name="group[4133][1]" value="true">
    <input class="newsletter-submit" type="submit" value="Subscribe" name="subscribe">
  </form>
</div>