<div style="display: none;" class="newsletter newsletter-split">
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="http://robdodson.us7.list-manage2.com/subscribe/post?u=5727aa0eb1ccbf4ae68284189&amp;id=6719a28b56" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <div class="split-cols">
        <div class="split-col split-col-left">
          <h3>Learn the art of a successful product launch</h3>
          <div class="description">
            <p>
              This free course will teach you how to launch products to audiences that are ready and eager to buy. Each lesson is delivered over email with a new lesson every few days.
            </p>
          </div>
        </div>
        <div class="split-col split-col-right">
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address
            </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <input type="hidden" name="group[4133][1]" id="mce-group[4133]-4133-0" value="true">
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </div>

    </form>
  </div>
  <!--End mc_embed_signup-->
</div>