<a class="subscribe icon-feed" href="{{ site.url}}/atom.xml"><span class="tooltip">Subscribe!</span></a>
<div class="inner">
  Follow me on <a href="http://twitter.com/rob_dodson" rel="me">Twitter</a>, <a rel="author" href="https://plus.google.com/118271135596408598424">Google+</a> or <a rel="me" href="http://github.com/robdodson">Github</a>
  <section class="copyright">All content copyright <a href="/">{{ site.author }}</a> © 2013 • All rights reserved.</section>
  <section class="poweredby">Casper theme by <a class="icon-ghost" href="http://tryghost.org">Ghost</a> &amp; Published with <a href="http://octopress.org">Octopress</a></section>
</div>